#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.text-content {
  padding: 0.5rem;
  width: 100%;
  border: 1px solid rgb(94, 93, 93);
  border-radius: 4px;
}

.App-copy-area {
  padding: 2em;
}

.App-copy-area button {
  background-color: #888;
  color: white;
}

.App-copy-area button:hover {
  background-color: rgb(175, 175, 175);
}
